/*Para el menú de hamburguesa*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?fynqng');
    src:  url('../fonts/icomoon.eot?fynqng#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?fynqng') format('truetype'),
      url('../fonts/icomoon.woff?fynqng') format('woff'),
      url('../fonts/icomoon.svg?fynqng#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak:none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before {
    content: "\e900";
}

.burguer-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.8);
    display: none;
    line-height: 40px;
    text-align: center;
    /* Tambien se podría centrar la hamburgues de la siguiente forma:
        display:    flex;
        justify-content: center;
        text-align: center; */
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;

    color: white; /*El icono es una fuente*/
}



/*Final de código para la fuente del menu hamburguesa*/



body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;  
}
h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px; /*Un 20% menos de un pixel*/
    margin: 0;  
}
h1 strong{
    color: #026fff;
}

.header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    /* border: 1px solid red; */
}
.header ol{
    display: flex;
}
.header ol li{
    height: inherit;
    list-style: none;
}
.header a, header a:link, header a:visited, header a:active{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.hero{
    /* background: cadetblue; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 480px;
}
.hero h1{
    text-align: center;
}
.hero p{
    text-align: center;
}
.hero-text{
    color:black;
    padding: 20px;
    /* background-color: burlywood; */
}
.hero-image{
    /* background: darkorange; */
    object-fit: cover;
}

.portfolio{
    background-color: #f5f5f5;
    padding: 20px;
}
.project{
    background-color: white;
    display: flex;
    text-align: left;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 20px;
}
.project-title{
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.project-position{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 10px 0 ;
}
.project-url{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.project-url a{
    text-decoration: none;
    color: black;
}
.project-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.project-details{
    width: 50%;
}
.project-imageContainer{
    width: 50%;
}
.project-imageContainer img{
    max-width: 100%;
}

.journey{
    margin: 0;
    padding: 20px;
}
.experience{
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}
.experience-details{
    width: 50%;
    text-align: left;
}
.experience-imageContainer{
    width: 50%;
    margin: 0;
}
.experience-imageContainer img{
    max-width: 100%;
}
.experience-name{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}
.experience-position{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: green;
    margin: 0;
}
.experience-city{
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #50555C;
    font-size: 12px;
}
.experience-description{
    font-size: 12px;
}

.contact{
    height: 150px;
    text-align: center;
    padding: 20px 0 20px;
    margin: 0;

}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.social-link.twitter{
    background-image: url(../images/twitter.svg);
    background-size:50px 50px;
}
.social-link.facebook{
    background-image: url(../images/facebook.svg);
    background-size:50px 50px;
}
.social-link.github{
    background-image: url(../images/github.svg);
    background-size:50px 50px;
}
.social-link.instagram{
    background-image: url(../images/instagram.svg);
    background-size:50px 50px;
}
.social-link.linkedin{
    color: white;
    background-image: url(../images/linkedin.svg);
    background-size:50px 50px;
}


.footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
    padding: 0 40px;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container{
    max-width: 1000px;
    flex: 1;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    margin: 0 auto;
    height: inherit;
}
.container2{
    max-width: 800px;
    flex: 1;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    margin: 0 auto;
    height: inherit;
}

@media screen and (max-width:1023px){
    .hero{
        height: auto;
        padding: 2em;
        overflow: hidden;
    }
    h1{
        font-size: 2em;
    }
    .hero-image{
        margin-top: 30px;
        width: 100%;
        text-align: center;
        margin:0;
    }
    .hero-image img{
        height: 20em;
        width: auto;
    }
    .hero-text{
        position: relative;
        text-align: center;
        width: 100%;
        margin: 0;
        padding-top: 2em;
    }
    
    .project-imageContainer img{
        position: relative;
        padding-top: 1.5em;
        
    }
    

}
@media screen and (max-width:767px){
    .burguer-button{
        display: block;
    }
    .menu{
        position: fixed;
        background: rgba(5, 109, 255, .9);
        
        z-index: 3;
        top: 0;
        left: -100vw; /*Escondemos el menú en la izquierda*/
        width: 100vw;
        /* height: 100vh; */
        /* Tambien se podria poner:
        height: auto; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }
    .menu.is-active{
        left: 0;
    }
    .project{
        display: block;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }
    .project-details{
        width: auto;
        /* font-size: 16px ; */
    }
    .project-position, .project-url{
        margin: .3em, 0;
    }
    .project-title{
        font-size: 1.5em;
        margin-bottom: .3em;

    }
    .project-url{
        font-size: 1em;
    }
    .project-description{
        font-size: .8em;
    }
    .experience{
        width: auto;
        flex-shrink: initial;
        
    }
    .experience img{
        width: auto;
        text-align: center;
    }
    .footer{
        padding: 0 2em;
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

}
@media screen and (max-width:480px){
    h1{
        font-size: 1.5em;
    }
    .hero-text{
        padding: 0;
    }
    .experience{
        display: block;
    }
    .experience-details{
        width: auto;
    }

    .experience-imageContainer{
        width: 100%;
    }
    h3, h4, p{
        text-align:center;
    }
    h2{
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    .journey h2{
        margin:20px 0 0;
    }
}
@media screen and (max-width:320px){
    
}